@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

.toast-container .Toastify__toast--success {
  background-color: black;
  color: white;
}

.toast-container .Toastify__toast--error {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(243 244 246);
}

::-webkit-scrollbar-thumb {
  background: rgb(209 213 219);
  border-radius: 9999px;
}